.article {
  width: 100%;
  max-width: 95%;
  margin: auto;
}

.nav {
  overflow: hidden;
  background-color:#F92424;
}

.nav {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 19px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #F92424;
  color: black;
}

.nav a.active {
  background-color: #F92424;
  color: white;
}

.nav .search-container {
  float: right;
}

.nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  margin-right: 15px;
  font-size: 17px;
  border: none;
}

.nav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
}

.screen and (max-width: 600px) {
  .nav .search-container {
    float: none;
  
  }
}

.article {  
  background: #B8ADAD;
  width: 45%;
  margin: 10px 20px;
  float: left;
}

.cuadro1 {
  width: 20%;
  margin: 20px;
  width: 30%;
  float: left;
}

.cuadro1{
  background: #B8ADAD;
  width: 95%;
  margin: 10px 20px;
  float: left;

}

.yellow {
  width: 90%;
  height: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.texto {
  font-size: 17px;
  background: #B8ADAD;
  width: 55%;
  margin: 10px 10px 10px 20px;
  float: left;
}

.texto2 {
  text-align: justify;
  background: #B8ADAD;
  width: 38.5%;
  margin: 10px 10px;
  float: left;
}

.cuadro1 {
  width: 20%;
  margin: 0px 30px 5px 0px;
}

p, h2 {
  padding: 15px
}

footer {
  margin: auto;
  width: 85%;
  background: #000;
  clear: both;
  padding: 10px;
}
