

.main .article {
	background: #9A9C90;
  	width: 95%;
  	margin:  20px;
  	float: left;
}

.video {
	background: #8D9997;
  	width: 95%;
  	margin: 20px;
  	float: left;
}

.terror {
	width: 70%;
	margin: 40px;
}

.texto {
	background: #8D9997;
  	width: 46%;
  	margin: 30px;
  	float: left;
}

h2, p {
	margin: 100px;
}

