

.main, .article, footer {
	background: #514A54;
  	width: 95%;
  	margin: 10px 20px;
  	float: left;
}

.ciber{
	width: 40%;
	margin: 20px;
	float: left;
}

.texto {
	width: 55%;
	float: left;
	align-self:
}

h2, p {
	margin: 15px;
	padding: 10px;
}

.cajita1{
	background: #514A54;
  	width: 18%;
  	height: 455px;
  	margin: 20px 20px;
  	float: left;
}

.cajita2 {
	margin: 10px 10px 0px 10px;
	width: 90%;
}

aside {
	width: 33.5%;
	margin-top: 20px;
	background: #514A54;
	float: left;
	padding: 20px;
	box-sizing: border-box;
}

aside h3, h2, p {
	text-align: justify;
}
